@font-face {
    font-family: 'ramblabold';
    src: url('rambla-bold-webfont.eot');
    src: url('rambla-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('rambla-bold-webfont.woff2') format('woff2'),
         url('rambla-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ramblaregular';
    src: url('rambla-regular-webfont.eot');
    src: url('rambla-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('rambla-regular-webfont.woff2') format('woff2'),
         url('rambla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}