@font-face {
  font-family: 'ramblabold';
  src: url('./assets/fonts/rambla/rambla-bold-webfont.eot');
  src: url('./assets/fonts/rambla/rambla-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/rambla/rambla-bold-webfont.woff2') format('woff2'),
  url('./assets/fonts/rambla/rambla-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ramblaregular';
  src: url('./assets/fonts/rambla/rambla-regular-webfont.eot');
  src: url('./assets/fonts/rambla/rambla-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/rambla/rambla-regular-webfont.woff2') format('woff2'),
  url('./assets/fonts/rambla/rambla-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* Minimal CSS reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}